# data folder
data/
!src/data/

# logs folder
logs/

# checkpoints folder
checkpoints/

# runs folder
runs/

# results folder
results/

# Python
__pycache__/
*.pyc

# model file
*.pt

# temp file
tmp/

# datasets
images/
labels/